@page "/admins"



<Header />
<div class="admin-portal">
    <div class="side-bar">
        <NavLink href="/users">Users</NavLink>
        <NavLink href="/courses">Courses</NavLink>
        <NavLink href="/admins">Admins</NavLink>
        <NavLink href="/createcourse">Create Course</NavLink>
        <NavLink href="/subscribers">Subscribers</NavLink>
    </div>
    <div class="content">
        <AdminsSection />
    </div>
</div>


@code {

}
