@page "/courses"
@using Microsoft.AspNetCore.Components

<Header />
<div class="admin-portal">
    <div class="side-bar">
        <a href="#">Users</a>
        <NavLink href="/courses">Courses</NavLink>
        <a href="#">Subscribers</a>
    </div>
    <div class="content">
        <CoursesSection />
    </div>
</div>

<head>
    <link rel="stylesheet" href="/css/app.min.css" />
</head>