@page "/createcourse"
@using Microsoft.AspNetCore.Components

<Header />
<div class="admin-portal">
    <div class="side-bar">
        <a href="#">Users</a>
        <NavLink href="/courses">Courses</NavLink>
        <NavLink href="/createcourse">Create Course</NavLink>
        <a href="#">Subscribers</a>
    </div>
    <div class="content">
        <CreateCourseSection />
    </div>
</div>