.admin-portal {
    .side-bar {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $gray-500;
        overflow-x: hidden;
        padding-top: 150px;

        a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: black;
            display: block;

            &:hover {
                color: white;
            }
        }
    }

    .content {
        margin-left: 200px;
        background-color: $gray-200;
        min-height: 87vh;
    }
}
